.swap {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 1rem;
    background-color: #242d42;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    position: relative;
}

.swap--main {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

.swap--transact {
    display: flex;
    justify-content: center;
}

.swap--main--buy {
    border: 1px solid #2d3953;
    border-radius: 1rem;
    background-color: #242d42;
    padding: 1rem;
}

.swap--main--sell {
    background-color: black;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.swap--header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.swapButton {
    background-color: rgba(47, 138, 245, .16);
    color: white;
    font-size: 1.5rem;
    padding: 0.8rem 5rem 0.8rem 5rem;
    border: none;
    border-radius: 1rem;
}

.reverse {
    background-color: #324054;
    width: fit-content;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 42.6%;
    left: 46%;
    font-size: larger;
}

.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
}

.tokenList {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 34%;
}

.tokenListHeader {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.tokens {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.slippage {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 15rem;
    top: 1.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 3px;
    background-color: #242d42;
}